/* style homepage */
body, html{
    margin: 0;
    padding: 0;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/image/home.png');
    background-size: cover; /* This will make the background image cover the entire element */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
}

.home img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.home nav a img{
    width: 50px;
    height: 50px;
    padding: 20px 30px;
    border: solid burlywood;
    border-radius: 100px;
    background-color: rgb(206, 134, 63);
}

.help a img{
    top: 10px;
    left: 90%;
}


.home button{
    position: absolute;
    border: solid burlywood;
    width: 200px;
    height: 100px;
    border-radius: 100px;
    background-color: rgb(206, 134, 63);
    text-align: center;
    font-size: 40px;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
